<div class="container-fluid">
    <div class="jumbotron">
        <div class="media">
            <div class="media-left">
                <img ng-src="{{movie.images.large}}">
            </div>
            <div class="media-body">
                <div class="media-heading">
                    <h1>{{movie.title}}</h1>
                </div>

                <table class="table" style="font-size: 23px">
                    <tr>
                        <td>导演:
                            <span class="label label-success" ng-repeat="dir in movie.directors">
                                {{dir.name}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>类型：
                            <span class="label label-success" ng-repeat="gen in movie.genres">
                                {{gen}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>上映时间：
                            <span class="label label-success">{{movie.year}}</span>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

        <div><p>剧情：{{movie.summary}}</p></div>
    </div>

</div>
<!--加载提示框： 默认是隐藏的，默认是透明的 -->
<div class="modal fade in" style="display: block" ng-class="{in:true}" ng-if="loading">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">正在加载......</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>